/* ----------
   GENERAL
---------- */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* CENTRAR TODO EL CONTENIDO */
#container {
  width: 1100px;
  margin: 0 auto;
  background: white;
  border-left: 1px solid #c7c7c7;
  border-right: 1px solid #c7c7c7;
}

/* ----------
   CABECERA
---------- */

.cap {
  background-color: #ffffff;
  border-bottom: 2px solid #d0d0d0;
  padding: 20px;
  overflow: auto;
}

.cap img {
  float: left;
}

.cap img:last-child {
  float: right;
}

.cap h1 {
  text-align: center;
  margin: 0;
  font-size: 32px;
  line-height: 70px;
}

/* ----------
   MENU
---------- */

.menu {
  float: left;
  width: 18%;
  background-color: #f2f2f2;
  padding: 15px;
  border-right: 1px solid #d0d0d0;
  min-height: 600px;
}

.menu a {
  display: block;
  padding: 6px 0;
  font-size: 15px;
  color: #555;
  text-decoration: none;
}

.menu a:hover {
  color: #000;          
  text-decoration: underline;
}


/* ----------
   CONTENIDO
---------- */

.main {
  float: left;
  width: 57%;
  padding: 20px;
}

.seccio-titol {
  background-color: #d9d9d9;
  padding: 6px;
  border: 1px solid #b3b3b3;
  font-weight: bold;
}

/* ----------
   COLUMNA DERECHA
---------- */

.right {
  float: left;
  width: 25%;
  background-color: #f9f9f9;
  padding: 20px;
  border-left: 1px solid #d0d0d0;
  min-height: 600px;
}

.right a {
  color: #003c82;
  text-decoration: none;
}

.right a:hover {
  text-decoration: underline;
}

/* ----------
   PIE
---------- */

.peu {
  clear: both;
  text-align: center;
  padding: 20px;
  font-size: 13px;
  background-color: #ffffff;
  border-top: 2px solid #d0d0d0;
}

